/*-- scss:defaults --*/
$h1-font-size:          1.5rem !default;
$h2-font-size:          1.25rem !default;
$h3-font-size:          1.25rem !default;
$headings-font-size:  1rem !default;
$headings-font-weight:  100 !default;
// $body-color:            #CCC !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  font-weight: $headings-font-weight;
}
h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size:  $h2-font-size;
}
h3 {
  font-size:  $h3-font-size;
}

.navbar-title {
  text-transform: uppercase;
}

// .navbar #quarto-search {
//   display: none;
// }

.quarto-title-banner .quarto-title .title {
  font-weight: $headings-font-weight;
}

#quarto-margin-sidebar .quarto-listing-category-title {
  font-weight: $headings-font-weight;
}